<tr class="plugin-update-tr active notice-warning notice-alt mwb_discontinue">
	<td colspan="4" class="plugin-update colspanchange">
		<div class="notice notice-error inline update-message notice-alt">
			<div class='wps-notice-title wps-notice-section'>
				<p><strong>IMPORTANT NOTICE:</strong></p>
			</div>
			<div class='wps-notice-content wps-notice-section'>
				<p>From this version update, we would be <strong>discontinuing this plugin and its support</strong>. We had a great time serving everyone with the tool and learned a lot. People still interested in the tool functionalities may please check other tool recommendations</p>
			</div>
		</div>
	</td>
</tr>
<style>
	.wps-notice-section > p:before {
		content: none;
	}

	/* .mwb_discontinue .notice-success {
    border-left-color: #b32d2e !important;
	} */
</style>